@if (selectedArticle$ | async; as article) {
  <div class="toc">
    <h3>On this page</h3>

    @if (article.sections && article.sections.length > 0) {
      <ul>
        @for (section of article.sections; track section.id) {
          <li [style.padding-left.px]="(section.level - 2) * 15">
            <button type="button" (click)="scrollToSection(section.id)" title="Jump to {{ section.title }}">
              {{ section.title }}
            </button>
          </li>
        }
      </ul>
    } @else {
      <div class="toc-empty">No sections available</div>
    }
  </div>
}
